*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Montserrat;
    color: #4e5150;
}
.body-project{
    margin-top: 50px;
    border: solid 1px red;
}
/*--------------- General Style-----------*/
h1{
    font-size: 36px;
    margin-bottom: 50px;
}
h2{
    font-weight: 600;
    font-size: 18px;
}
p{
    margin: 4px 0px 4px 0px;
    font-weight: 300;
    font-size: 16px; 
}
.tab{
    display: grid;
    grid-template-columns: 600px 385px;
    gap: 50px;
}
/*
.tab-1{
    border: solid 1px rgb(4, 4, 4);
}
 .tab-2{
    border: solid 1px red;
}
/*-----------Form Style --------------- */
.tab-1 input{
    border: none;
    font-size: 16px;
    line-height: 20px;
    width: 90%;
}
.tab-1 input:focus{
    border: none;
    outline: none;
}
.input-form{
    width: 465px;
    height:56px;
    border: solid 1px #828282;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.input-form img{
    margin: 0px 4px 0px 4px;
}
.email, .phone{
    height: 36px;
    margin-left: 4px;
    font-size: 18px;
}
.ship-info {
    margin: 30px 0px 2px 0px;
}
.ship-info h2{
    margin: 15px 0px 15px 0px;
}
.group-form .input-form{
    width: 95%;
}
.group-form{
    display: grid;
    width: 470px;
    grid-template-columns: repeat(2, 50%);
}
input.check{
    width: 23px;
}
/*------------Product Style-------------*/
.tab-2{
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 12px;
    width: 383px;
    height: 535px;
}
.product{
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 10px;
    margin: 20px 0px 30px 0px;
}
.product img{
    width: 100%;
    border-radius: 12px;
}
.control{
    width: 134.25px;
    height: 45px;
    border-radius: 12px;
    border: solid 1px #828282;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}
.price-ship{
    display: flex;
    justify-content: space-between;
}
.total-price{
    margin-top: 130px;
}
.newprice{
    color: #f2994a;
}
.btn-ctrl{
    border: none;
    border-radius: 4px;
    width: 21.2px;
    height: 21.2px;
    color: #e0e0e0;
    background-color: #8f8c8c;
}